@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400, 600, 700;
    font-style:normal;

}
body{
    background-color:  hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    border-radius: 10px;
    position: absolute;
     
    height: 76%;
    

}
.image img{
    width: 70px;
    border-radius: 50%;
    margin: 20px;
}
.container h3{
    color: hsl(0, 0%, 100%);
    text-align: center;
     
}
.container span{
    color:  hsl(75, 94%, 57%);
    text-align: center;
    display: block;
    padding: 8px;
    font-size: 11.5px;
}
.container p{
     color: hsl(0, 0%, 100%);
     text-align: center;
     margin: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  hsl(0, 0%, 100%);
    width: 100%;

}
.content .btn{
    background-color: hsl(0, 0%, 20%) ;
    
    width: 90%;
    border-radius: 8px;
     text-align: center;
     padding: 12px;
     margin: 10px;
}
.content .btn:hover{
cursor: pointer;

background-color: hsl(75, 94%, 57%) ;
}